body
{
    width: auto;
}
h1, h3
{
    text-align:center;
}
h2
{
    width: 80%;
    margin: 2% 10% 2% 10%;
}
h3
{
    background-color:black;
    color:white;
    font-size:0.9em;
    margin-bottom:0px;
}
h4
{
    width: 15%;
    text-align: center;
}
.nbpagesup
{
    display: inline-block;
    position: absolute;
    top: 80px;
    vertical-align: top;
    margin-bottom: 30px;
}
.nbpagesdown
{
    display: inline-block;

}
.buttons
{
    display: inline-block;
    position: absolute;
    top: 80px;
    right: 4px;
    vertical-align: top;
}
#admin
{
    width: auto;
    border: 1px solid black;
}
#registration
{
    background-color: orange;
    width: 90px;
    border: 1px solid black;
}
#connection
{
    width: 90px;
    border: 1px solid black;
}
#disconnection
{
    width: 90px;
    border: 1px solid black;
}
.news p
{
    width: auto;
    background-color:#CCCCCC;
    margin-top:0px;
}
.news
{
    width:70%;
    margin:auto;
}
.text
{
    margin: auto;
    width: 80%;
    padding-bottom: 5px;
    background-color:#CCCCCC;
}
.text :nth-child(odd)
{
    background-color:rgb(97, 95, 95);
    color: white;
}
.text p
{
    padding-left: 3px;
}
#signaler, #deja_signaler, #supprimer
{
    float: right;
    background-color: rgb(13, 13, 160);
    color: white;
    text-align: center;
    margin-right: 10px;
}
a
{
    text-decoration: none;
    color: blue;
}
.registration_form, .connection_form
{
    padding: 2.5% 0% 2.5% 0%;
    display: flex;
    width: 15%;
    background-color: dimgray;
    border-radius: 30px;
    opacity: 0.5;

}
.registration_p, .connection_p
{
    margin: auto;
    padding: 5%;
    background-color: white;
}
.title
{
    text-align: center;
    margin-bottom: 15%;
}
.label
{
    width: auto;
    display: block;
    margin: 5% 0% 0% 0%;
    text-align: left;
}
.email
{
    margin-bottom: 5%;
}
.submit_form
{
    width: 100%;
    display: block;
    margin: auto;
    font-weight: bold;
    background-color: rgb(27, 125, 223);
    color: black;
}
#email_help, #connection_errors, #password1_error, #password2_error, #pseudo_help
{
    position: absolute;
    left: 16%;
    color:red;
}
.comment_form
{
    width: 80%;
    margin: auto;
    vertical-align: bottom;
}
.comment
{
    display: inline-flex;
    vertical-align: bottom;
    margin-top: 15px;
}