html
{
    height: 100%;
}
body
{
    width: auto;
    min-height: 97%;
    position: relative;
    background-image: url("../images/alaska.jpg");
    background-attachment:fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
body header
{
    width: 100%;
    height: 45px;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: grey;
}
#name
{
    position: fixed;
    font-size: 30px;
    top: 5px;
    left: 20px; 
}
h1
{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: -21px;
}
h2
{
    width: 80%;
    margin: 2% 10% 2% 10%;
}
h3
{
    text-align: center;
    margin-bottom:0px;
}
h4
{
    width: 15%;
    text-align: center;
}
.buttons
{
    vertical-align: top;
    position: fixed;
    top: 12px;
    right: 20px;
}
#registration
{
    color:white;
    padding: 0px 10px;
    background-color: orange;
    border: 1px solid black;
}
#admin, #connection, #disconnection
{
    color: white;
    padding: 0px 10px;
    background-color: rgb(97, 95, 95);
    border: 1px solid black;
}
.content
{
    padding-top: 30px;
    padding-bottom: 130px;
}
.posts
{
    width: 70%;
    margin: auto;
    padding: 15px;
    background-color: rgb(255, 255, 255, 0.3);
}
.comment
{
    margin: auto;
    width: 80%;
    padding-bottom: 5px;
    background-color:#CCCCCC60;
}
.comment :nth-child(odd)
{
    background-color:rgb(97, 95, 95);
    color: white;
}
.comment p
{
    padding-left: 3px;
}
#report
{
    float: right;
    background-color: rgb(13, 13, 160);
    font-family: arial;
    font-size: 13px;
    padding: 3px 9px;
    color: white;
    cursor: default;
    text-align: center;
    margin-right: 10px;
}
a
{
    text-decoration: none;
    color: blue;
}
.registrationForm, .connectionForm
{
    padding: 2.5% 0%;
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 25%;
    background-color: dimgray;
    border-radius: 30px;
    opacity: 0.8;
}
.registrationForm p, .connectionForm p
{
    width: 75%;
    margin: auto;
    padding: 5%;
    background-color: rgba(255, 255, 255, 0.904);
    text-align: center;
}
.label
{
    width: 100%;
    display: block;
    margin-top: 10px;
    text-align: left;
    padding-left: 1%;
}
.input
{
    width: 98%;
}
.submitForm
{
    width: 102%;
    margin-top: 13px;
    font-weight: bold;
    background-color: rgb(27, 125, 223);
    color: black;
}
#email_help, #connection_errors, #password1_error, #password2_error, #pseudo_help
{
    color:red;
}
.commentForm
{
    width: 50%;
    margin: 10px auto;
    padding: 1px 10px;
    opacity: 80%;
    background-color: rgb(136, 136, 185);
}
.commentForm p
{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}
.postComment
{
    display: inline-flex;
    vertical-align: bottom;
    margin-top: 15px;
}
body footer
{
    width: 101%;
    display: flex;
    position: absolute;
    left: -7px;
    bottom: 0px;
    justify-content: space-around;
    background-color: #808080bb;
    padding-top: 15px;
}